
@{
    Layout = null;
}

@*<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
                merhaba              
        </div>
    </body>
</html>*@
<div>
    merhaba
</div>