@*<span id="yardim" class="help-block">Enlem/Boylam bilgisi ne işe yarayacak?</span>
@(Html.Kendo().Tooltip()
               .For("#yardim")
           .Position(TooltipPosition.Top)
           .Width(LayoutDefaultCssClasses.HelpToolTipWidth)
           .ShowOn(TooltipShowOnEvent.Click)
           .Content("Help Text"))
           //.LoadContentFrom()*@


fssşdjfsdgfdggfd
